
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_FE.cshtml";
}

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">
                        @foreach (var pro in ViewBag.p)
                        {
                            var c = 1;
                            <div class="single-product">
                                <div class="product-f-image">
                                    @foreach (var img in ViewBag.imgs)
                                    {
                                        if (img.pid == pro.pid)
                                        {
                                            if (@c == 1)
                                            { 
                                        <img src="~/Content/Images/@img.iname" alt="">
                                                c = c+1;

                                            }
                                            else
                                            {
                                                c = 1;
                                            }
                                        }
                                    }

                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="@Url.Action("pro", new { id = pro.pid })" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="@Url.Action("pro", new { id = pro.pid })">@pro.pname</a></h2>

                                <div class="product-carousel-price">
                                    <ins>Rs. @pro.pprice</ins> <del>Rs. 1000</del>
                                </div>
                            </div>
                          }
                    </div>
                    
                </div>
                
            </div>
            
        </div>
     
    </div>
 
</div>
